*.class
Iconr

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
# .idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
ParkeerDrukteFixer/Iconr
ParkeerDrukteFixer/.idea/Iconr
ParkeerDrukteFixer/.idea/copyright/Iconr
ParkeerDrukteFixer/.idea/libraries/Iconr
ParkeerDrukteFixer/lib/Iconr
ParkeerDrukteFixer/out/Iconr
ParkeerDrukteFixer/out/production/ParkeerDrukteFixer/Iconr
ParkeerDrukteFixer/out/production/ParkeerDrukteFixer/org/Iconr
ParkeerDrukteFixer/out/production/ParkeerDrukteFixer/org/opendoors/Iconr
ParkeerDrukteFixer/out/production/ParkeerDrukteFixer/org/opendoors/test/Iconr
ParkeerDrukteFixer/src/Iconr
ParkeerDrukteFixer/src/org/Iconr
ParkeerDrukteFixer/src/org/opendoors/Iconr
ParkeerDrukteFixer/src/org/opendoors/test/Iconr
TemperatuurFixer/Iconr
TemperatuurFixer/.idea/Iconr
TemperatuurFixer/.idea/copyright/Iconr
TemperatuurFixer/.idea/libraries/Iconr
TemperatuurFixer/lib/Iconr
TemperatuurFixer/out/Iconr
TemperatuurFixer/out/production/TemperatuurFixer/Iconr
TemperatuurFixer/out/production/TemperatuurFixer/org/Iconr
TemperatuurFixer/out/production/TemperatuurFixer/org/opendoors/Iconr
TemperatuurFixer/out/production/TemperatuurFixer/org/opendoors/test/Iconr
TemperatuurFixer/src/Iconr
TemperatuurFixer/src/org/Iconr
TemperatuurFixer/src/org/opendoors/Iconr
TemperatuurFixer/src/org/opendoors/test/Iconr
WegDrukte/Iconr
WegDrukte/.idea/Iconr
WegDrukte/.idea/copyright/Iconr
WegDrukte/.idea/libraries/Iconr
WegDrukte/lib/Iconr
WegDrukte/out/Iconr
WegDrukte/out/production/WegDrukteFixer/Iconr
WegDrukte/out/production/WegDrukteFixer/org/Iconr
WegDrukte/out/production/WegDrukteFixer/org/opendoors/Iconr
WegDrukte/out/production/WegDrukteFixer/org/opendoors/test/Iconr
WegDrukte/src/Iconr
WegDrukte/src/org/Iconr
WegDrukte/src/org/opendoors/Iconr
WegDrukte/src/org/opendoors/test/Iconr
